{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    ["react-intl-to-properties", {
      "enforceDescriptions": true,
      "fileName": "en-US",
      "messagesDir": "./i18n/"
    }]
  ]
}
